In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
 csv_file = "../Desktop/2016 bts airline_delay_causes 2.csv"
airline_data_df = pd.read_csv(csv_file)
airline_data_df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,2016,1,AA,American Airlines Inc.,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",11956.0,1534.0,507.33,39.83,...,529.47,201.0,9.0,106950.0,50027.0,2842.0,13913.0,167.0,40001.0,NaN
1,2016,1,AA,American Airlines Inc.,DTW,"Detroit, MI: Detroit Metro Wayne County",588.0,98.0,34.71,4.71,...,38.49,13.0,2.0,5170.0,1754.0,312.0,655.0,16.0,2433.0,NaN
2,2016,1,AA,American Airlines Inc.,SEA,"Seattle, WA: Seattle/Tacoma International",607.0,92.0,35.52,5.40,...,27.52,12.0,2.0,4485.0,1857.0,198.0,715.0,0.0,1715.0,NaN
3,2016,1,AA,American Airlines Inc.,JFK,"New York, NY: John F. Kennedy International",1595.0,335.0,117.00,10.26,...,89.25,137.0,6.0,23698.0,9681.0,1592.0,4371.0,18.0,8036.0,NaN
4,2016,1,AA,American Airlines Inc.,SJC,"San Jose, CA: Norman Y. Mineta San Jose Intern...",327.0,59.0,23.67,1.47,...,19.29,0.0,0.0,2276.0,985.0,94.0,373.0,5.0,819.0,NaN

In [5]:
new_airline_data_df = airline_data_df[[' month','carrier_name','airport', 'arr_cancelled', ' arr_delay', ' carrier_delay', 'weather_delay',]].copy()
new_airline_data_df.head()

,month,carrier_name,airport,arr_cancelled,arr_delay,carrier_delay,weather_delay
0,1,American Airlines Inc.,DFW,201.0,106950.0,50027.0,2842.0
1,1,American Airlines Inc.,DTW,13.0,5170.0,1754.0,312.0
2,1,American Airlines Inc.,SEA,12.0,4485.0,1857.0,198.0
3,1,American Airlines Inc.,JFK,137.0,23698.0,9681.0,1592.0
4,1,American Airlines Inc.,SJC,0.0,2276.0,985.0,94.0

In [ ]:
 json_file = "../Resources/customer_location.json"
customer_location_df = pd.read_json(json_file)
customer_location_df.head()